{% load static %}
{% block body %}
<!DOCTYPE html> 
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""> 

    <title>Requisition TEST 2</title>
    <link  rel = "icon" class="image" href="{% static 'single_logo.png' %}" >

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"  rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                
                <div class="sidebar-brand-text mx-3"> <img src="{% static 'assetmanager.png' %}" height="85px"  ></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            {% if request.user.is_staff and request.user.is_superuser %}
        
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div> 
            
            <!-- Nav Item - Pages Collapse Menu for Employee -->
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Employee</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Add Employee Sections :</h6>
                        
                        <a class="collapse-item" href="{% url 'create_user'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Create User</span>
                        </a>

                        <!-- <a class="collapse-item" href="{% url 'create_role'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Create User Role</span>
                        </a> -->

                        <a class="collapse-item" href="{% url 'employee'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Employee</span>
                        </a>

                        <a class="collapse-item" href="{% url 'add_department'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Department</span>
                        </a>

                        <a class="collapse-item" href="{% url 'add_designation'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Designation</span>
                        </a>

                        <a class="collapse-item" href="{% url 'add_unit'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Unit</span>
                        </a>

                        <a class="collapse-item" href="{% url 'add_office'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Office Location</span>
                        </a>
                        <h6 class="collapse-header">View Employee Sections :</h6>

                    </div>
                </div>
            </li>
        {% endif %}
    
            
            <!-- Nav Item - Pages Collapse Menu for Product -->
            {% if request.user.is_staff or request.user.is_superuser  %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Products</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Add Products Sections :</h6>
                        
                        <a class="collapse-item" href="{% url 'add_product'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Product</span>
                        </a>

                        <a class="collapse-item" href="{% url 'product_category'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Product Category</span>
                        </a>

                        <a class="collapse-item" href="{% url 'product_status'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Product Status</span>
                        </a>

                        <a class="collapse-item" href="{% url 'add_vendor'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Vendor</span>
                        </a>

                        <a class="collapse-item" href="{% url 'manufacturer'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Manufacturer</span>
                        </a>

                        <a class="collapse-item" href="{% url 'add_stock'%}">
                            <i class="fas fa-fw fa-plus"></i>
                            <span>Add Stock</span>
                        </a>

                        

                    </div>
                </div>
            </li>
            {% endif %}
        
            <hr class="sidebar-divider">

            <!-- Heading -->
            
            
            

            <!-- Nav Item - Pages Collapse Menu -->
            {% if request.user.is_staff or request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-table"></i>
                    <span>View Data Tables</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <h6 class="collapse-header">Asset Sections :</h6>
                        <a class="collapse-item " href="{% url 'assigned_asset' %}">View Assign Asset</a>
                        <a class="collapse-item " href="{% url 'viewreturnasset' %}">View Returned Asset</a>
                        <h6 class="collapse-header">Employee Sections :</h6>
                        <a class="collapse-item" href="{% url 'view_employee' %}">View Employee</a>
                        <a class="collapse-item" href="{% url 'view_department' %}">View Department</a>
                        <a class="collapse-item" href="{% url 'view_designation' %}">View Designation</a>
                        <a class="collapse-item" href="{% url 'view_unit' %}">View Unit</a>
                        <a class="collapse-item" href="{% url 'view_office_location' %}">View Office Location</a>
                        <h6 class="collapse-header">Products Sections :</h6>
                        <a class="collapse-item" href="{% url 'view_product' %}">View Product</a>
                        <a class="collapse-item" href="{% url 'view_stock' %}">View Stock</a>
                        <a class="collapse-item" href="{% url 'view_vendor' %}">View Vendor</a>
                        <a class="collapse-item" href="{% url 'view_manufacturer' %}">View Manufacturer</a>
                        <a class="collapse-item" href="{% url 'view_product_category' %}">View Product Category</a>
                        <a class="collapse-item" href="{% url 'view_product_status' %}">View Product Status</a>
                        
                        
                    </div>
                </div>
            </li>
            {% endif %}
            

            <!-- Nav Item - Pages Collapse Menu for Saerch-->
            {% if request.user.is_staff or request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSearchPages"
                    aria-expanded="true" aria-controls="collapseSearchPages">
                    <i class="fas fa-fw fa-search"></i>
                    <span>Advance Saerch</span>
                </a>
                <div id="collapseSearchPages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <h6 class="collapse-header">Employee Sections :</h6>
                        <a class="collapse-item" href="{% url 'searchemployee' %}">
                            <i class="fas fa-fw fa-search"></i>
                            <span>Search Employee</span>
                        </a>
                        
                        <h6 class="collapse-header">Products Sections :</h6>

                        <a class="collapse-item" href="{% url 'searchasset'%}">
                            <i class="fas fa-fw fa-search"></i>
                            <span>Search Asset</span>
                        </a>
                        <a class="collapse-item" href="{% url 'searchproduct'%}">
                            <i class="fas fa-fw fa-search"></i>
                            <span>Search Products</span>
                        </a>
                        
                        
                        
                    </div>
                </div>
            </li>
            {% endif %}

            <!-- Nav Item - Pages Collapse Menu for Product Requisition -->
            {% if request.user.is_staff and request.user.is_superuser or request.user.groups %}
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRequisition"
                    aria-expanded="true" aria-controls="collapseRequisition">
                    <i class="fas fa-fw fa-paper-plane"></i>
                    <span>Product Requisition</span>
                </a>
                <div id="collapseRequisition" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        
                        <a class="collapse-item" href="{% url 'view_product_list' user %}">
                            <i class="fas fa-fw fa-list"></i>
                            <span>Request Product</span>
                        </a>
                        
                        {% if request.user.is_staff or request.user.is_superuser %}
                        <a class="collapse-item" href="{% url 'viewrequestedasset' %}">
                            <i class="fas fa-fw fa-list"></i>
                            <span>View Request(Admin)</span>
                        </a>
                        {% endif %}

                        <a class="collapse-item" href="{% url 'viewuserrequest' user %}">
                            <i class="fas fa-fw fa-list"></i>
                            <span>View Request(User)</span>
                        </a>
                        <!-- <a class="collapse-item" href="{% url 'searchproduct'%}">
                            <i class="fas fa-fw fa-search"></i>
                            <span>Search Products</span>
                        </a> -->
                        
                        
                        
                    </div>
                </div>
            </li>
            {% endif %}

            <!-- Nav Item - Charts -->
            {% if request.user.is_staff or request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>
            {% endif %}

            <!-- Nav Item - Tables -->
            {% if request.user.is_staff or request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            
            
        </ul>
        
        
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
 
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{ user }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'bgi.jpg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'login'%}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                {% endblock %}
                <!-- End of Topbar -->
                
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="container-fluid">
                        {% if request.user.is_staff and request.user.is_superuser or request.user.groups %}
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <!-- action="{% url 'makerequisition_test' user%}" -->
                                <form method="POST"  >
                                    {% csrf_token %}
                                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    
                                    <!-- <input  type='text' value="" placeholder="Enter Product Name" class="form-control bg-light border-1 small" name="product_name">     -->

                                    <!-- <select name="product_id" id="product_name" class="form-control bg-light border-1 small" >
                                        <option value = null selected >Choose Product</option>
                                        {% for item in ViewProduct  %}
                                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                                        {% endfor %}
                                    </select>
                                    
                                    <select name="manufacturer_id" id="manufacturer_name" class="form-control bg-light border-1 small" >
                                        <option value = null selected >Choose Manufacturer</option>
                                        {% for item in ViewManufacture  %}
                                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                                        {% endfor %}
                                    </select> -->
                                    <select name="product_id" id="product_name" class="form-control bg-light border-1 small" >
                                        <option value = null selected >Select Products</option>
                                        {% for item in ViewProduct  %}
                                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                                        {% endfor %}
                                    </select>

                                    
                                
                                    <input class="btn btn-primary fa-search" type="submit" value="Add"/>
                                    </div>
                                    
                                    </div>
                        </form> 
                        
                        </div>
                        <!-- Content Row -->
                    

                        <!--Tables for Assigned Asset --> 
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <!-- <a href="{% url 'add_department' %}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>View Selected Item</span></a> -->
                                <h1 class="h4 mb-0 text-gray-800"><strong>Added Items</strong></h1>
                            </div> 

                            <div class="card-body">
                                <div class="textarea">
                                    <table class="table table-striped"  id="dataTable" width="100%" cellspacing="0">
                                        <thead class = "thead-dark">
                                            <tr>
                                                <th>SL</th>
                                                        <th>Name</th>
                                                        <th>Category</th>
                                                        <th>Manufacturer</th>
                                                        <th>Specification</th>
                                                        <th>Has Warranty </th>
                                                        <th>Has Stock</th>
                                                        <!-- <th>Quantity</th> -->
                                                        <th>Action</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        {% for getdata in GetProduct %}
                                                    <tr>
                                                            <td class="h5 mb-4 text-gray-800"> {{forloop.counter }}</td>
                                                            <td class="h5 mb-4 text-gray-800"> {{ getdata.1}}</td>
                                                            <td class="h5 mb-4 text-gray-800"> {{ getdata.2}}</td>
                                                            <td class="h5 mb-4 text-gray-800"> {{ getdata.3}}</td>
                                                            <td class="h5 mb-4 text-gray-800"> {{ getdata.4}}</td>
                                                            <td class="h5 mb-4 text-gray-800"> {{ getdata.5}}</td>
                                                            <td class="h5 mb-4 text-gray-800"> {{ getdata.6}}</td>
                                                            <!-- <td>
                                                                <input name = 'quantity[]' value ="1" id="savequantity"  type="number" class="form-control" required>
                                                            </td> -->
                                                           
                                                            <td class="h5 mb-4 text-gray-800">
                                                                {% if request.user.is_staff and request.user.is_superuser or request.user.groups  %}
                                                                <style>
                                                                    input.largerCheckbox {
                                                                                    width: 25px;
                                                                                    height: 25px;
                                                                                }

                                                                </style>
                                                                <!-- <a href="#editEmployeeModal-{{ forloop.counter }}" class="edit btn btn-primary btn-sm" data-toggle="modal" >Request Asset</a>                                                         -->
                                                                <!-- <a href="#deleteEmployeeModal-{{ forloop.counter }}" class="edit btn btn-danger btn-sm" data-toggle="modal" >Delete</a> -->
                                                                <input type="checkbox" class="savecheckedvalue largerCheckbox " id={{getdata.0}} value={{getdata.0 }} />
                                                                <label class="form-check-label" for={{getdata.0}}></label>
                                                                {% endif %}
                                                            </td>
                                                            
                                                            
                                                        
                                                    </tr>
                                                {% endfor %}
                                    </table>
                                </div>
                                </div>
                                </div>
                                
                        


                        <hr/>
                        <br>
                                {% if messages%}
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <center><h4 style="color: rgb(243, 26, 7);"><strong>{{message}}</strong></h4></center>
                                {% else %}
                                <center><h4 style="color: rgb(27, 243, 7);"><strong>{{message}}</strong></h4></center>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                        </div>
                        
                    </div>
                    {% endif %}
                    
                </div>

                
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Bengal Group of Industries</span>
                            <!--Developed By Md Abu Raihan, IUBAT, Intern BATCH-4-->
                        </div>
                    </div>
                </footer>
                </div>
                
                </div>
               </div>
                
        

        </div>
        <!-- End of Content Wrapper -->
        

    </div>
    
    
    
    <!-- End of Footer -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class = 'modal fade'
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Make Requissition Modal HTML -->
    {% for i in GetProduct %}
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'makerequisition_test' user %}" > 
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Make Asset Requistion</h4>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        
                    </div>
                    <br>
                    <!-- <center><h5 style="color:rgb(255, 0, 132);"><strong>&emsp;Fill up the following form very carefully! </strong></h5></center> -->

                    <div class="modal-body">	

                        <!-- <div class="form-group">
                            <label>Product</label>
                            <select name="product_id" id="product_name" class="form-control bg-light border-1 small" required >
                                    <option value="{{ i.0 }}">{{ i.1 }}</option>
                            </select>
                        </div> -->

                        

                        <!-- <div class="form-group">
                            <label>Is Accepted?</label>
                            <input name = 'is_accepted' value ="NO" class="form-control" readonly required>
                        </div> -->

                        <!-- <div class="form-group">
                            <label>Request By</label>
                            <input name = 'request_by' value ="{{user}}" class="form-control" readonly required>
                        </div> -->
                        <!-- <div class="form-group">
                            <label>Product ID</label>
                            <input type="text" name = 'selected[]' id = "savecheckedvalue" class="form-control"  required>
                        </div> -->

                        <!-- <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" name = 'quantity[]' id = "savequantity" class="form-control"  required>
                        </div> -->
                        
                        
                            <div class="table-responsive">
                                <table class="table table-responsive"  id="dataTable" width="100%" cellspacing="0">
                                    <thead class = "thead-dark">
                                         <tr>
                                            <th><center>Product ID</center></th>
                                            <th><center>Quantity</center></th>
                                            
                                        </tr>
                                    </thead>
                                        <tr>
                                            <td>
                                                    <input type="text" name = 'selected[]' id = "savecheckedvalue" class="form-control" readonly required>
                                            </td>
                                            <td>
                                                <input name = 'quantity[]' value ="1" id="savequantity"  type="text" class="form-control" required>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                            <div class="form-group">
                                <label>Requested For </label>
                                <select name="employee_id" id="employee_name" class="form-control bg-light border-1 small" required>
                                    {% for item in GetEMP  %}
                                        <option value="{{ item.0 }}" readonly required>{{ item.1 }}</option>
                                        
                                    {% endfor %}
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label>Date</label>
                                <input name = 'request_date' value ="{{DateTime}}"   class="form-control" type="datetime" readonly required>
                            </div>

                        <!-- <div class="form-group">
                            <label>Product Name</label>
                            {% for i in GetProduct %}
                            {% if i.0 == valuee %}
                            <input type="text"  value={{i.1}} class="form-control" required>
                            {% endif %}
                            {% endfor %}
                        </div> -->

                        <!-- <div class="form-group">
                            <label>Quantity</label>
                            <input name = 'quantity[]' value ="1" id="savequantity"  type="number" class="form-control" required>
                        </div> -->
                        <div class="form-group">
                            <label>Messages</label> 
                            
                            <textarea name = 'message' type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                            <!-- <input name = 'message' value =" " type="text" class="form-control" required> -->
                        </div>
                         
                                            
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <!-- <a href="{% url 'makerequisition_test' user %}" class="edit btn btn-danger btn-sm"  value="Delete"  >Request</a> -->
                        <input type="submit" class="btn btn-primary" value="Request">
                    </div>

                    
                </form>
            </div>
        </div> 
        </div>
    </div>
    {% endfor %}
    
    <!-- Delete Modal HTML -->
    {% for getdata in GetProduct %}
    <div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">						
                        <h4 class="modal-title">Delete Offiece Location</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Are you sure, you want to delete <strong style="color:red;">{{getdata.1}}</strong>  Records?</p>
                        <p class="text-danger"><medium>This action cannot be undone.</medium></p>
                    
                                            
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <a href="{% url 'deleteproduct' user getdata.0 %}" class="edit btn btn-danger btn-sm"  value="Delete"  >Delete</a>
                    </div>
                </form>
            </div>
        </div> 
    </div>
    {% endfor %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
        <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js'%}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js'%}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js'%}"></script>

    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.savecheckedvalue').click(function(){
                var valuee = [];
                $('.savecheckedvalue:checked').each(function(){
                    // valuee += $(this).val()
                    valuee.push($(this).val());
                    // allElements.push($(this));
                });
                $('#savecheckedvalue').val(valuee);
            });
        });

    </script>
    <script>
        
        $(document).ready(function(){
            $('.savequantity').click(function(){
                var quantity = [];
                $('.savequantity').each(function(){
                    // valuee += $(this).val()
                    quantity.push($("myField").val());
                    // allElements.push($(this));
                });
                $('#savequantity').val(quantity);
            });
        });
    </script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js'%}"></script>

</body>

</html>