</div>

    

<div class="main" id="main">
  
  <div class="content">
    
      
    
    <!-- Content -->
    <div id="content" class="colM">
      
      <h1>Enter new password</h1>
      
      



<p>Please enter your new password twice so we can verify you typed it in correctly.</p>


    
    <label for="id_new_password1">New password:</label>
    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
</div>
<div class="form-row field-password2">
    
    <label for="id_new_password2">Confirm password:</label>
    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
</div>
<input type="submit" value="Change my password">
</fieldset>
</form>

      
      <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
  </div>
</div>
</div>